.wrap {
  width: 1140px;
  margin: 0 auto;
}
.clear::after {
  content: "";
  clear: both;
  display: block;
}
a {
  text-decoration: none;
  color: #111;
}
header {
  padding: 16px;
  background-color: #b2b2b2;
}
header .wrap .title {
  overflow: hidden;
  padding: 20px 0;
}
header .wrap .title h1 {
  float: left;
}
header .wrap .title h1 a {
  font-size: 2.7rem;
  color: #fff;
}
header .wrap .title h1 a span {
  font-size: 2.7rem;
  color: #dc3545;
  display: inline-block;
  margin-left: -10px;
}
header .wrap .title ul.info {
  float: right;
}
header .wrap .title ul.info li {
  float: left;
  overflow: hidden;
}
header .wrap .title ul.info li i {
  float: left;
  font-size: 30px;
  line-height: 41px;
  margin-right: 16px;
}
header .wrap .title ul.info li p {
  float: right;
  font-size: 0.9rem;
  color: #fff;
}
header .wrap .title ul.info li.location {
  margin-right: 48px;
}
header .wrap .title ul.info li.location i {
  color: #fdb62f;
}
header .wrap .title ul.info li.date i {
  color: #fd4d40;
}
header .wrap .nav {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}
header .wrap .nav ul {
  float: left;
}
header .wrap .nav ul li {
  float: left;
  padding: 20px 0;
  margin: 0 15px;
}
header .wrap .nav ul li a {
  font-weight: 500;
  color: #111;
}
header .wrap .nav ul li:nth-child(1) a {
  color: #fd4d40;
}
header .wrap .nav .ways {
  float: right;
}
header .wrap .nav .ways a {
  display: inline-block;
  width: 54px;
  line-height: 67px;
}
header .wrap .nav .ways a.facebook {
  color: #16c3b0;
}
header .wrap .nav .ways a.twitter {
  color: #71bc42;
}
header .wrap .nav .ways a.linkedin {
  color: #fdb62f;
}
section.welcome {
  background-color: #b2b2b2;
  padding-top: 48px;
}
section.welcome .wrap {
  position: relative;
}
section.welcome .wrap .container {
  box-sizing: border-box;
  width: 475px;
  padding: 48px 15px 150px 15px;
}
section.welcome .wrap .container p.welcome {
  color: #fd4d40;
  font-family: indie;
}
section.welcome .wrap .container p.amazing {
  color: #fff;
}
section.welcome .wrap .container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
}
section.welcome .wrap .container .more {
  background-color: #dc3545;
  display: inline-block;
  margin-top: 64px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 1s;
}
section.welcome .wrap .container .more a {
  display: block;
  padding: 24px 20px;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
section.welcome .wrap .container .more:hover {
  background-color: #c82333;
}
section.welcome .wrap .background {
  width: 540px;
  height: 760px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(imgs/kid_transparent.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
section.site {
  padding: 112px 0;
}
section.site ul.wrap li {
  float: left;
  width: calc(33.3% - 30px);
  box-sizing: border-box;
  margin: 0 15px;
  padding: 40px;
  position: relative;
}
section.site ul.wrap li .icon {
  position: absolute;
  top: -30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
section.site ul.wrap li .icon i {
  font-size: 36px;
  color: #fff;
  line-height: 80px;
}
section.site ul.wrap li h3 {
  color: #fff;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
}
section.site ul.wrap li p {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  padding-bottom: 30px;
}
section.site ul.wrap li.indoor {
  background-color: #fd4d40;
}
section.site ul.wrap li.indoor .icon {
  background-color: #fd4d40;
}
section.site ul.wrap li.outdoor {
  background-color: #fdb62f;
}
section.site ul.wrap li.outdoor .icon {
  background-color: #fdb62f;
}
section.site ul.wrap li.camping {
  background-color: #16c3b0;
}
section.site ul.wrap li.camping .icon {
  background-color: #16c3b0;
}
section.about {
  background-color: #f6f5f5;
  padding: 112px 0;
}
section.about .wrap .img {
  width: calc(50% - 30px);
  box-sizing: border-box;
  float: left;
  background-image: url(imgs/img_1.jpg);
  height: 462px;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
}
section.about .wrap .text {
  box-sizing: border-box;
  width: calc(50% - 95px);
  float: right;
  margin-left: 95px;
  padding-left: 48px;
  padding-right: 15px;
}
section.about .wrap .text span {
  color: #fb7240;
  font-size: 1.25rem;
  font-family: indie;
}
section.about .wrap .text h3 {
  font-size: 1.75rem;
  margin-bottom: 8px;
}
section.about .wrap .text p {
  line-height: 1.7;
  font-weight: 400;
  color: #364d59;
  padding-bottom: 48px;
}
section.about .wrap .text .more {
  background-color: #ffc107;
  display: inline-block;
  margin-top: 64px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 1s;
}
section.about .wrap .text .more a {
  display: block;
  padding: 24px 20px;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
section.about .wrap .text .more:hover {
  background-color: #e0a800;
}
section.packages {
  padding: 112px 0;
  background-color: #17a2b8;
}
section.packages .wrap .title {
  text-align: center;
  margin-bottom: 40px;
}
section.packages .wrap .title h5 {
  color: #fd506a;
  font-family: indie;
  font-weight: 300;
}
section.packages .wrap .title h3 {
  font-size: 30px;
  color: #fff;
}
section.packages .wrap ul.contain li {
  float: left;
  width: calc(33.3% - 30px);
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 15px;
  padding: 40px;
  border-radius: 10px;
}
section.packages .wrap ul.contain li .svg {
  padding-bottom: 30px;
}
section.packages .wrap ul.contain li .svg img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
section.packages .wrap ul.contain li h5 {
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
}
section.packages .wrap ul.contain li p {
  color: #777777;
  text-align: center;
  line-height: 1.7;
  font-size: 14px;
}
section.packages .wrap ul.contain li .more-wrap {
  width: 100%;
  text-align: center;
}
section.packages .wrap ul.contain li .more-wrap .more {
  display: inline-block;
  margin-top: 54px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 1s;
}
section.packages .wrap ul.contain li .more-wrap .more a {
  display: block;
  padding: 12px 15px;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
section.packages .wrap ul.contain li.indoor h5 {
  color: #16c3b0;
}
section.packages .wrap ul.contain li.indoor .more {
  background-color: #dc3545;
}
section.packages .wrap ul.contain li.indoor .more:hover {
  background-color: #c82333;
}
section.packages .wrap ul.contain li.outdoor h5 {
  color: #88bc42;
}
section.packages .wrap ul.contain li.outdoor .more {
  background-color: #ffc107;
}
section.packages .wrap ul.contain li.outdoor .more:hover {
  background-color: #e0a800;
}
section.packages .wrap ul.contain li.camping h5 {
  color: #dc3545;
}
section.packages .wrap ul.contain li.camping .more {
  background-color: #71bc42;
}
section.packages .wrap ul.contain li.camping .more:hover {
  background-color: #60a038;
}
section.pricing {
  padding: 112px 0;
}
section.pricing ul.wrap li {
  float: left;
}
section.pricing ul.wrap li span.price {
  display: inline-block;
  border-radius: 50%;
}
section.pricing ul.wrap li span.price span {
  display: inline-block;
  font-size: 26px;
  padding: 15px;
  border: 3px #fff solid;
  border-radius: 50%;
  line-height: 40px;
  color: #364d59;
}
section.pricing ul.wrap li h5 {
  color: #364d59;
  margin: 30px 0;
  font-size: 18px;
}
section.pricing ul.wrap li ul.check {
  height: 100px;
}
section.pricing ul.wrap li ul.check li {
  margin-bottom: 15px;
}
section.pricing ul.wrap li ul.check li i {
  font-weight: 100;
}
section.pricing ul.wrap li ul.check li span {
  font-weight: 400;
  color: #364d59;
}
section.pricing ul.wrap li .buy {
  margin-top: 54px;
}
section.pricing ul.wrap li .buy a {
  transition: all 1s;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: inline-block;
  padding: 12px 20px;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
section.pricing ul.wrap li.our {
  width: 33.3%;
  padding: 0 15px;
  box-sizing: border-box;
}
section.pricing ul.wrap li.our h5 {
  color: #fd506a;
  font-weight: 300;
  font-family: indie;
}
section.pricing ul.wrap li.our h3 {
  font-size: 30px;
  margin: 8px 0;
}
section.pricing ul.wrap li.our p {
  color: #364d59;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
}
section.pricing ul.wrap li.sliver {
  width: calc(33.3% - 15px);
  padding: 0 15px;
}
section.pricing ul.wrap li.sliver span.price {
  border: 5px #16c3b0 solid;
}
section.pricing ul.wrap li.sliver span.price span {
  background-color: #16c3b0;
}
section.pricing ul.wrap li.sliver ul.check li i {
  color: #16c3b0;
}
section.pricing ul.wrap li.sliver .buy a {
  background-color: #16c3b0;
  color: #1e2529;
}
section.pricing ul.wrap li.golden {
  width: calc(33.3% - 15px);
}
section.pricing ul.wrap li.golden span.price {
  border: 5px #fd4d40 solid;
}
section.pricing ul.wrap li.golden span.price span {
  background-color: #fd4d40;
}
section.pricing ul.wrap li.golden ul.check li i {
  color: #fd4d40;
}
section.pricing ul.wrap li.golden .buy a {
  background-color: #fd4d40;
  color: #fff;
}
section.says {
  background-color: #f6f5f5;
  padding: 112px 0;
}
section.says .wrap .title {
  text-align: center;
  margin-bottom: 50px;
}
section.says .wrap .title h5 {
  color: #fd506a;
  margin-bottom: 8px;
  font-weight: 300;
  font-family: indie;
}
section.says .wrap .title h3 {
  font-size: 30px;
  color: #111;
  margin-bottom: 8px;
}
section.says .wrap .people {
  width: 670px;
  background-color: #fd4d40;
  margin: 0 auto;
  padding: 30px;
}
section.says .wrap .people .photo {
  float: left;
  width: 20%;
}
section.says .wrap .people .photo img {
  width: 80px;
  height: 80px;
}
section.says .wrap .people .info {
  float: right;
  width: 80%;
}
section.says .wrap .people .info h5.name {
  margin-bottom: 8px;
  color: #fff;
  font-size: 20px;
}
section.says .wrap .people .info span.do {
  display: block;
  margin-bottom: 16px;
  color: #fea6a0;
}
section.says .wrap .people .info p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 16px;
}
section.says .wrap .number {
  padding-top: 50px;
}
section.says .wrap .number ul {
  width: 730px;
  margin: 0 auto;
}
section.says .wrap .number ul li {
  float: left;
  width: 25%;
  text-align: center;
}
section.says .wrap .number ul li span.num {
  font-weight: 500;
  font-size: 2rem;
  display: block;
  margin-bottom: 8px;
}
section.says .wrap .number ul li span.text {
  color: #364d59;
}
section.says .wrap .number ul li.client .num {
  color: #16c3b0;
}
section.says .wrap .number ul li.members .num {
  color: #fdb62f;
}
section.says .wrap .number ul li.staffs .num {
  color: #71bc42;
}
section.says .wrap .number ul li.followers .num {
  color: #dc3545;
}
section.bring {
  background-color: #ffc107;
  padding: 48px 0;
}
section.bring .wrap .text {
  float: left;
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
}
section.bring .wrap a {
  float: right;
  transition: all 0.5s;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 40px;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #fd4d40;
  color: #fff;
}
section.bring .wrap a:hover {
  background-color: #c82333;
}
footer {
  background-color: #343a40;
  color: #fff;
  padding: 182px 0;
}
footer .wrap .top {
  padding-bottom: 96px;
  border-bottom: #494e53 2px solid;
}
footer .wrap .top .about {
  width: 33.3%;
  box-sizing: border-box;
  float: left;
  padding: 0 30px;
}
footer .wrap .top .about h5 {
  margin-bottom: 16px;
  color: 18px;
  color: #fd4d40;
}
footer .wrap .top .about h5.new {
  margin-bottom: 24px;
}
footer .wrap .top .about p {
  margin-bottom: 48px;
  line-height: 25px;
}
footer .wrap .top .about .email input {
  border: 1px solid #e6e6e6;
  padding: 6px 12px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5;
  width: 65%;
  margin-right: 16px;
}
footer .wrap .top .about .email a {
  display: inline-block;
  background-color: #dc3545;
  padding: 10px 20px ;
  line-height: 33px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2rem;
  transition: all 0.5s;
}
footer .wrap .top .about .email a:hover {
  background-color: #c82333;
}
footer .wrap .top ul.navigation {
  width: 66.6%;
  float: left;
  overflow: hidden;
  padding-left: 300px;
  box-sizing: border-box;
}
footer .wrap .top ul.navigation > li {
  float: left;
  width: 225px;
}
footer .wrap .top ul.navigation > li h5 {
  color: #fd4d40;
  margin-bottom: 24px;
}
footer .wrap .top ul.navigation > li ul.list li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 16px;
  line-height: 1.7;
  font-size: 14px;
  transition: all 0.5s;
}
footer .wrap .top ul.navigation > li ul.list li a:hover {
  color: #fff;
}
footer .wrap .bottom p {
  padding-top: 48px ;
  text-align: center;
}
footer .wrap .bottom p i {
  color: red;
}
footer .wrap .bottom p a {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}
footer .wrap .bottom p a:hover {
  color: #fff;
}
/*# sourceMappingURL=./style.css.map */